<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Burgers!</title>
		<!--CSS links-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/burger_style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>