  <header>
    <h1>Eat-A-Burger!!(kind of)</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Placeholder for Burger Not Eaten</p>
      </div>
      <div class="col-sm-6">
        <p>Placeholder for Burger Eaten</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div>
          <form action="">
            <div class="form-group">
              <label for="exampleInputBurger">Enter Burger Name Here!</label>
              <input type="burger" class="form-control">
            </div>
            <button type="submit" class="burgerNotEaten">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

