<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Eat-A-Burger!!(kind of)</h1>
          <div>
            <img src="/assets/img/burger.png" width="200" height="200" alt="Burger Image">
          </div>
      </div>
    </div>
  </div>
</header> 
  <div class="container">
    <div class="row">
      <!--begin new burger side-->
      <div class="col-sm-6">
        <div class="clearfix" id="fresh-burger">
        {{#each burgers}}
          {{#unless devoured}}
            <ul class="form-control">
              <li class="no-bullet">{{burger_name}}
              <button class="btn btn-success devour" data-id="{{id}}">Devour Me!</button>
              </li>
            </ul>
          {{/unless}}
        {{/each}}
        </div>
      </div>
      <!--end new burger side-->
      <!--begin eaten burger column-->
      <div class="col-sm-6">
        <div id="already-eaten">
        {{#each burgers}}
          {{#if devoured}}
            <div class="input-group w-75">
              <ul class="form-control">{{burger_name}}</ul>
            </div>
          {{/if}}
        {{/each}}
        </div>
      </div>
      <!--end eaten burger column-->
    </div>
  </div>
  <!--New burger form-->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <div>
          <form class="create-burger-form">
            <div class="form-group">
              <label for="new_burger">Enter Burger Name Here!</label>
              <input type="text" id="createBurger">
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

